<style>
    .bordered-table {
        border-collapse: collapse;
        width: 100%;
        border: 3px solid #ddd;
    }

    .bordered-table th, .bordered-table td {
        border: 3px solid #ddd;
        padding: 8px;
    }
    h1, h2, h4, h5 {
    text-align: center;
    }
    
    .button-container {
    text-align: center;
    }

    .button-container button {
        margin: 0 10px;
    }

</style>

{% extends 'base.html' %}

{% block content %}
    <h1>{{application_name}}</h1>
    <h5>Made for Platform-based Programming F Assignment by Julian</h5>

    <h2>Welcome, {{name}}!</h2>
    {% if days_since_added == 1 %}
        <h3>In the past day, you have:</h3>
    {% else %}
        <h3>In the past {{days_since_added}} days, you have:</h3>
    {% endif %}
    {% if item_count == 0 %}
        <h3> - No item stored yet. Keep tracking your items!</h3>
    {% else %}
        <h3> - Stored {{item_count}} items in the inventory.</h3>
    {% endif %}
    {% if item_total_worth == 0 %}
        <h3> - No gold gained yet. Keep tracking your items!</h3>
    {% else %}
        <h3> - Gained over {{ item_total_worth }} worth of gold. Congratulations!</h3>
    {% endif %}
    <h3> </h3>

    <table class="bordered-table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Season</th>
            <th>Favorable Weather</th>
            <th>Amount</th>
            <th>Date Added</th>
            <th>Delete Item</th>
            <th>Reduce Amount</th>
            <th>Increase Amount</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td>{{item.season}}</td>
                <td>{{item.favorable_weather}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.date_added}}</td>
                <td>
                    <a href="{% url 'main:delete_item' id=item.id %}">
                        <button>
                            Delete
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:reduce_amount' id=item.id %}">
                        <button>
                            Reduce
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:increase_amount' id=item.id %}">
                        <button>
                            Increase
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <div class="button-container">
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>

        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </div>

    <h5>Last login session: {{ last_login }}</h5>
{% endblock content %}